.containerBackground{
    background-image: url(https://i.pinimg.com/736x/a2/17/da/a217da7d1300c78677192bc661a99e59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}