.buttonColorNav{
        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border-color: #DC3545;
    
}

.buttonColorNav:hover {
        color:#DC3545;
        font-family: monospace;
        background-color:#FFE4E0 ;
        border-color: #DC3545;
        
}

.searchButton{
        margin-left: -50px;
        margin-right: 15px;
}

.cartButton{
        margin-right: 5px;
}