@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Bebas+Neue&family=Great+Vibes&family=Kaushan+Script&family=Poppins:wght@500&family=Roboto+Slab:wght@500&family=Satisfy&display=swap');



.PaymentOptionPics{
    height: 200px;
}

.PaymentOptionPara{
    text-align: center;
    font-size: 17px;
    font-family: 'Almarai', sans-serif;font-family:
}